html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: beige;
    font-family: 'african';
}

#main_container {
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 30px 1fr;
    align-items: center;

    /* border: 1px solid green; */
}

.square_div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    /* border: 1px solid brown; */
}

.square_div div {
    display: grid;
    grid-template-rows: 80% 20%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: BurlyWood;

    /* border: 1px solid purple; */
}

#back_button {
    text-decoration: none;
    color: black;   
    font-size: 1.4em;
}

/*POSITION 4 DIVS*/
.top_left {
    grid-column: 1;
    grid-row: 1;
}

.top_right {
    grid-column: 2;
    grid-row: 1;
}

.bottom_left {
    grid-column: 1;
    grid-row: 2;
}

.bottom_right {
    grid-column: 2;
    grid-row: 2;
}

/*IN THE 4 MAIN DIVS*/
/*img*/
.square_div div img {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

/*text below img*/
#main_container div p {
    margin: 0;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 92, 64);
}

#main_container div p a {
    text-decoration: none;
    color: black;
}
