.board-game {
    -fx-background-color: Sienna;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
    -fx-alignment: center;
    /* -fx-grid-lines-visible: true; */
}

.granary {
    -fx-fill: BurlyWood;
    -fx-arc-height: 100px;
    -fx-arc-width: 100px;
}

.circle {
    -fx-fill: BurlyWood;
    -fx-arc-height: 100px;
    -fx-arc-width: 100px;
}

.circle:hover {
    -fx-fill: Khaki;
    -fx-cursor: hand;
}

.play-button {
    -fx-font-size: 3em;
    -fx-background-color: Sienna;
    -fx-text-fill: white;
    -fx-padding: 10px 20px 10px 20px;
    -fx-background-radius: 10px;
}

.play-button:hover {
    -fx-background-color: brown;
    -fx-cursor: hand;
}

VBox {
    -fx-alignment: center;
    -fx-background-color: beige;
}

.mode-panel {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

.mode-panel:hover {
    -fx-cursor: hand;
}

.mode-panel:hover .mode-selection {
    -fx-background-color: brown;
}


.mode-selections {
    -fx-background-color: beige;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
    -fx-alignment: center;
}

.mode-selection {
    -fx-background-color: Sienna;
    -fx-font-size: 3em;
    -fx-padding: 15px;
    -fx-background-radius: 15px;
}

.mode-selection > Text {
    -fx-fill: white;
}
