html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
}

#main_container {
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
}


#back_button {
    text-decoration: none;
    color: black;   
    font-size: 1.4em;
    margin-left: 5px;
}
#back_button:hover {
    font-size: 1.5em;
}


#center_container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 15% 1fr;
    align-items: center;
}

h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #201D10;
    font-size: 3em;
    border-bottom: 1px solid #201D10;
}


.configuration-form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
}

#two_sides {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left_side, .right_side {
    width: 70%;
    height: 90%;
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
    margin: 0 auto;
    
    border-top: 1px solid #413126;
    border-left: 1px solid #413126;
    border-right: 1px solid #413126;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

h3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #201D10;
    font-size: 3em;

    border-bottom: 1px solid #413126;
}

.element_form {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #413126;
}

/*label*/
.element_form label {
    display: inline-block;
    font-size: 2em;
    color: #201D10;
    margin-right: 15px;
    margin-left: 10px;
    font-family: 'Montserrat-Regular', sans-serif;
}

/*element apres les deux labels*/
.element_form select, .element_form input {
    position: absolute;
    background-color: #E1DAD4;
    color: #413126;
    font-size: 1.5em;
    text-align: center;

    /* border: 1px solid orangered; */
}

.element_form select {
    height: 35px;
}

.element_form input {
    height: 30px;
}

/*bouton confirm*/
#confirm_button {
    height: 100%;
    border: none;
    font-size: 2em;
    background-color: #EAEAEA;
    color: #201D10;
    font-family: 'Montserrat-Regular', sans-serif;
}
#confirm_button:hover {
    font-family: 'Montserrat-Medium', sans-serif;
}




/*responsive width*/
@media screen and (max-width: 1400px) {
    h1, h3 {
        font-size: 2.5em;
    }
    .element_form label, #confirm_button {
        font-size: 1.5em;
    }
    .element_form select, .element_form input {
        font-size: 1.3em;
    }
    .element_form select {
        height: 30px;
    }
    .element_form input {
        height: 25px;
    }
    .left_side, .right_side {
        width: 80%;
    }
}

@media screen and (max-width: 1050px) {
    h1, h3 {
        font-size: 2.3em;
    }
    .element_form label, #confirm_button {
        font-size: 1.3em;
    }
    .element_form select, .element_form input {
        font-size: 1.1em;
    }
    .left_side, .right_side {
        width: 85%;
    }
}

@media screen and (max-width: 870px) {
    .left_side, .right_side {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .left_side, .right_side {
        width: 95%;
    }
}

@media screen and (max-width: 750px) {
    h1, h3 {
        font-size: 2em;
    }
    .element_form label, #confirm_button {
        font-size: 1.1em;
    }
    .element_form select, .element_form input {
        font-size: 1em;
    }
    .element_form select {
        height: 25px;
    }
    .element_form input {
        height: 20px;
    }
}


/*responsive height*/
@media screen and (max-height: 650px) {
    h1, h3 {
        font-size: 2.3em;
    }
    .element_form label, #confirm_button {
        font-size: 1.3em;
    }
    .element_form select, .element_form input {
        font-size: 1.1em;
    }
    .left_side, .right_side {
        width: 80%;
    }
}


/*responsive width and height*/
@media screen and (max-width: 1175px) and (max-height: 650px) {
    h1, h3 {
        font-size: 2em;
    }
    .element_form label, #confirm_button {
        font-size: 1.1em;
    }
    .element_form select, .element_form input {
        font-size: 1em;
    }
    .element_form select {
        height: 25px;
    }
    .element_form input {
        height: 20px;
    }
    .element_form label {
        margin-right: 10px;
        margin-left: 5px;
    }
}