html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
}

#main_container {
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
}


#back_button {
    text-decoration: none;
    color: black;   
    font-size: 1.4em;
    margin-left: 5px;
}


#center_container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 1fr;
    align-items: center;

    border: 2px blue solid;
}

h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #201D10;
    font-size: 3em;
    border-bottom: 1px solid #694834;
}


form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
}

#two_sides {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left_side, .right_side {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.left_side {
    border-right: 1px solid #694834;
}

/*div de select + input*/
.element_form {
    display: flex;
    align-items: center;
}

.element_form {
    border-bottom: 1px solid #694834;
}

.element_form label {
    display: inline-block;
    font-size: 2em;
    color: #413126;
    margin-right: 15px;
    margin-left: 5px;

    /* border: 1px solid green; */
}

/*element apres les deux labels*/
.element_form select, .element_form input {
    position: absolute;
    background-color: #D9C9B4;
    color: #413126;
    font-size: 1.5em;
    text-align: center;

    /* border: 1px solid orangered; */
}

.element_form select {
    height: 35px;
}

.element_form input {
    height: 30px;
}


#confirm_button {
    height: 100%;
    border: none;
    font-size: 2em;
    background-color: #EAEAEA;
    color: #413126;
}