@font-face {
    font-family: 'african';
    src: url('../assets/font/african.ttf'), 
         url('../assets/font/african.woff');
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap'); */


@font-face {
    font-family: 'Montserrat';
    src: url(../assets/font/Montserrat-ExtraLight.ttf),
         url(../assets/font/Montserrat-ExtraLight.woff);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../assets/font/Montserrat-Regular.ttf),
         url(../assets/font/Montserrat-Regular.woff);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../assets/font/Montserrat-Medium.ttf),
         url(../assets/font/Montserrat-Medium.woff);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../assets/font/Montserrat-SemiBold.ttf),
         url(../assets/font/Montserrat-SemiBold.woff);
}

body {
    font-family: 'Montserrat', 'Montserrat-Regular', 'Montserrat-Medium',
        sans-serif;
}