html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    /* width: 500px;
    height: 100px; */
    background-image: url('../assets/images/wood-texture.jpg');
    background-size: cover;
    border-radius: 250px;
    box-shadow: 0 0 10px 0px black;
    display: grid;
    grid-template-columns: repeat(10, 120px);
    grid-template-rows: repeat(2, 120px);
    grid-template-areas: 
        ". left top top top top top top right ."
        ". left bottom bottom bottom bottom bottom bottom right .";
}

.top {
    grid-area: top;
}

.bottom {
    grid-area: bottom;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.row {
    display: flex;
    flex-direction: row;
}

.bank {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: 10px;
    box-shadow: inset -2px -2px 5px black;
}

.pit {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: 10px;
    box-shadow: inset -2px -2px 5px black;
}

.player-element.pit:hover {
    box-shadow: inset 0px 0px 6px 2px #8ae68a, 0 0 6px 2px #8ae68a;
    cursor: pointer;
}

.red {
    box-shadow: inset 0px 0px 6px 2px #f75c54, 0 0 6px 2px #f75c54;
}

.seed {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 48px;
    height: 30px;
    background-image: url('../assets/images/seed-texture.png');
    background-size: cover;
    border-radius: 15px 30px 14px 35px / 10px 19px 12px 21px;
    box-shadow: 0 0 5px 1px black;
}

.seed2 {
    top: 20px;
    left: 38px;
    transform: rotate(45deg);
}

.seed3 {
    top: -5px;
    left: 15px;
    transform: rotate(150deg);
}
