html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
}

#main_container {
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40px 1fr;
}

#back_button {
    text-decoration: none;
    color: black;   
    font-size: 1.4em;
}
#back_button:hover {
    font-size: 1.5em;
}